@import "../Variables.module.scss";

.mainContainer {
    padding-left: 80px;
    padding-right: 80px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (max-width: 500px) {
    .mainContainer {
        padding-left: 25px;
        padding-right: 25px;
    }
}

.horizontalContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

// First child related selectors

.firstChildContainer {
    composes: horizontalContainer;
    flex-wrap: wrap-reverse;
    width: 100%;
    max-width: 1160px;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

@media screen and (max-width: 500px) {
    .firstChildContainer {
        justify-content: center;
    }
}

.warrantyCard {
    max-width: 300px;
    height: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    background-color: $blue;
    box-shadow: 7.5px 7.5px 6px rgb(168, 168, 168);
    img {
        width: 108px;
    }
    h1 {
        margin: 0;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        color: $white;
    }
    p {
        font-size: 15px;
        font-weight: 500;
        text-align: center;
        color: $white;
    }
}

.learnMoreContainer {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        margin: 0;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
    }
    p {
        font-size: 15px;
        font-weight: 500;
        text-align: center;
    }
    button {
        width: 336px;
        height: 44px;
        font-size: 20px;
        cursor: not-allowed;
    }
}

// Second child related selectors

.secondChildContainer {
    composes: horizontalContainer;
    position: relative;
    width: 100%;
    max-width: 1704px;
    height: 220px;
    padding: 20px;
    gap: 25px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    background-color: $blue;
    box-shadow: 7.5px 7.5px 6px rgb(168, 168, 168);
}

.imageAndTextContainer {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        width: 108px;
        height: 90px;
    }
    span {
        margin: 0;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        color: $white;
    }
}

.surprisedManImg {
    position: absolute;
    width: 30vw;
    left: 65%;
    bottom: 0%;
}

.watchByContainer {
    position: absolute;
    left: 82.5%;
    bottom: 7.7%;
    max-width: 145px;
    height: 58px;
    border-radius: 15px;
    padding: 20px;
    background-color: $white;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(252, 80, 80);
    span {
        margin: 0;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
    img{
        width: 132px;
    }
}

@media screen and (max-width: 1585px) {
    .surprisedManImg {
        width: 300px;
        left: 75%;
    }
}

@media screen and (max-width: 1410px) {
    .surprisedManImg {
        display: none;
    }
    .watchByContainer {
        display: none;
    }
}

@media screen and (max-width: 1127px) {
    .secondChildContainer {
        composes: horizontalContainer;
        position: relative;
        width: 100%;
        max-width: 1704px;
        height: 350px;
        padding: 20px;
        gap: 0px;
        justify-content: flex-start;
        align-items: center;
        border-radius: 15px;
        background-color: $blue;
        box-shadow: 7.5px 7.5px 6px rgb(168, 168, 168);
    }
}

@media screen and (max-width: 1076px) {
    .secondChildContainer {
        composes: horizontalContainer;
        position: relative;
        width: 100%;
        max-width: 1704px;
        height: 520px;
        padding: 20px;
        gap: 0px;
        justify-content: flex-start;
        align-items: center;
        border-radius: 15px;
        background-color: $blue;
        box-shadow: 7.5px 7.5px 6px rgb(168, 168, 168);
    }
}

@media screen and (max-width: 500px) {
    .secondChildContainer {
        composes: horizontalContainer;
        position: relative;
        width: 325px;
        max-width: 1704px;
        height: 220px;
        padding: 20px 5px;
        gap: 0px;
        justify-content: flex-start;
        align-items: center;
        align-self: center;
        border-radius: 15px;
        background-color: $blue;
        box-shadow: 7.5px 7.5px 6px rgb(168, 168, 168);
    }
    .imageAndTextContainer {
        width: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 78px;
            height: 60px;
        }
        span {
            margin: 0;
            font-size: 9px;
            font-weight: bold;
            text-align: center;
            color: $white;
        }
    }
    .surprisedManImg {
        display: inline;
        width: 125px;
        left: 50%;
    }
}

// Third child related selectors

.thirdChildContainer {
    composes: horizontalContainer;
    justify-content: center;
    align-items: center;
    gap: 25px;
    img {
        width: 160px;
    }
    h1 {
        margin: 0;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }
    p {
        font-size: 15px;
        font-weight: 500;
        text-align: center;
    }
}

.headerAndParagraphContainer {
    max-width: 750px;
}

// Fourth child related selectors

.fourthChildContainer {
    composes: horizontalContainer;
    width: 100%;
    max-width: 1704px;
    justify-content: center;
    align-items: center;
    button {
        width: 336px;
        height: 44px;
        font-size: 20px;
        cursor: not-allowed;
    }
}