@import "../Variables.module.scss";

.horizontalContainer {
    padding: 40px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    img {
        width: 203px;
    }
}

@media all and (max-width: 500px) {
    .horizontalContainer {
        padding-left: 25px;
        padding-right: 25px;
    }
}