@import "../Variables.module.scss";

.mainContainer {
    padding-left: 250px;
    padding-right: 250px;
    gap: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 1562px) {
    .mainContainer {
        gap: 400px;
    }
}

@media screen and (max-width: 730px) {
    .mainContainer {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 500px) {
    .mainContainer {
        padding-left: 0px;
        padding-right: 0px;
        justify-content: center;
    }
}

// First child related selectors

.formContainer {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: $blue;
    width: 500px;
    min-width: 500px;
    border-radius: 15px;
    gap: 10px;
    box-shadow: 7.5px 7.5px 6px rgb(168, 168, 168);
    h1 {
        margin: 0;
        font-size: 30px;
        text-align: center;
        color: $white;
    }
    label {
        align-self:flex-start;
        margin-left: 95px;
        font-size: 15px;
        color: $white;
    }
    select + label {
        margin: auto;
    }
    button {
        width: 336px;
        height: 44px;
        font-size: 20px;
        cursor: pointer;
        background-color: $white;
        border-color: $white;
        color: $blue;
    }
}

@media screen and (max-width: 500px) {
    .formContainer {
        padding: 20px 1px;
        width: 350px;
        min-width: 350px;
        label {
            align-self:flex-start;
            margin-left: 20px;
            font-size: 15px;
            color: $white;
        }
    }
}


// Second child related selectors

.returnContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    align-self: flex-end;
    div {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 20px;
        width: 400px;
        height: 100px;
        border-radius: 15px;
        background-color: $blue;
        box-shadow: 7.5px 7.5px 6px rgb(168, 168, 168);
        span {
            font-size: 20px;
            text-align: center;
            color: $white;
        }
    }
}

.bloomLogoImg {
    width: 203px;
}

.happyWomanImg {
    position: absolute;
    left: 15%;
    width: 300px;
    bottom: 100%;
}

@media screen and (max-width: 500px) {
    .returnContainer {
        display: none;
    }
}